@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
@import './variables';
@import './scrollbar.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
