<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="teal"
    dark
  >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

    <v-toolbar-title>{{ title }}</v-toolbar-title>
  </v-app-bar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'CoreAppBar',

  data() {
    return {
      title: process.env.VUE_APP_TITLE
    }
  },

  computed: {
    ...mapGetters(['getDrawer']),

    drawer: {
      get() { return this.getDrawer },
      set(v) { this.setDrawer(v) }
    }
  },

  methods: {
    ...mapActions(['setDrawer'])
  }
}
</script>

<style>

</style>
