<template>
  <v-navigation-drawer
    v-model="drawer"
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
  >
    <v-list dense>
      <template v-for="item in items">
        <v-list-item
          :to="item.to"
          :key="item.text"
          link
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'CoreDrawer',

  data() {
    return {
      items: [
        {
          icon: 'mdi-view-dashboard',
          text: 'Dashboard',
          to: '/'
        },{
          icon: 'mdi-account',
          text: 'Cantores',
          to: '/cantores'
        },{
          icon: 'mdi-account-group',
          text: 'Conjuntos',
          to: '/conjuntos'
        },{
          icon: 'mdi-music',
          text: 'Hinos',
          to: '/hinos'
        }
      ]
    }
  },

  computed: {
    ...mapGetters(['getDrawer']),

    drawer: {
      get() { return this.getDrawer },
      set(v) { this.setDrawer(v) }
    }
  },

  methods: {
    ...mapActions(['setDrawer'])
  }
}
</script>

<style>

</style>
