<template>
  <v-container>
    <div>
      <h1 class="subheading grey--text">Conjuntos</h1>
    </div>
    <v-card>
      <v-card-text>
        <v-data-table
          :headers="table.header"
          :items="getConjuntos"
          :search="table.search"
          :loading="loading"
        >
          <template v-slot:top>
            <v-row>
              <v-col cols="12" sm="12" md="3">
                <v-btn fab icon small title="Atualizar" :loading="loading" @click="loadConjuntos()"><v-icon>mdi-refresh</v-icon></v-btn>
                <v-text-field v-model="table.search" placeholder="Buscar..." />
              </v-col>
            </v-row>
          </template>
          <template v-slot:item.ativo="{ item }">
            <v-icon :color="item.ativo ? 'green' : 'red'">{{ item.ativo ? 'mdi-check' : 'mdi-close' }}</v-icon>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn title="Editar" color="orange" fab icon small @click="edit(item)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn title="Excluir" color="red" fab icon small @click="destroy(item.id)">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <DialogAddConjunto />
    <DialogEditConjunto ref="DialogEditConjunto" />
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Conjuntos',

  components: {
    DialogAddConjunto: () => import('@/components/dialogs/DialogAddConjunto'),
    DialogEditConjunto: () => import('@/components/dialogs/DialogEditConjunto')
  },

  data() {
    return {
      loading: false,

      table: {
        search: '',

        header: [
          {
            text: 'Nome',
            value: 'nome'
          },{
            text: 'Ativo',
            value: 'ativo'
          },{
            text: '',
            value: 'actions'
          }
        ]
      }
    }
  },

  computed: {
    ...mapGetters('conjuntos', ['getConjuntos'])
  },

  methods: {
    ...mapActions('conjuntos', ['ActionSetConjuntos','ActionLoadConjuntos','ActionDestroyConjunto']),

    async loadConjuntos() {
      try
      {
        this.loading = true
        this.ActionSetConjuntos([])
        await this.ActionLoadConjuntos()
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    },

    async edit(item) {
      this.$refs.DialogEditConjunto.setConjunto({ ...item }),
      this.$refs.DialogEditConjunto.show()
    },

    async destroy(id) {
      let { isConfirmed } = await this.$swal('', 'Excluir conjunto ?', 'question')
      if(!isConfirmed) return

      try
      {
        this.loading = true
        let response = await this.ActionDestroyConjunto(id)
        this.$swal('', response.data.message, 'success')
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    }
  },

  mounted() {
    this.loadConjuntos()
  }
}
</script>

<style>

</style>
