<template>
  <v-container>
    <div>
      <h1 class="subheading grey--text">Dashboard</h1>
    </div>
    <v-row>
      <v-col v-for="card in cards" :key="card.text" cols="12" sm="12" lg="4">
        <v-card class="ma-3">
          <v-list-item>
            <v-list-item-avatar rounded class="mt-n7">
              <v-sheet :color="card.color" width="80" height="80" elevation="10">
                <v-icon dark>{{ card.icon }}</v-icon>
              </v-sheet>
            </v-list-item-avatar>
            <v-list-item-content>
              <div class="overline text-right">{{ card.text }}</div>
              <v-list-item-title class="headline mb-1 text-right">{{ card.value }}</v-list-item-title>
              <div><v-divider></v-divider></div>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-icon text class="ma-2">{{ card.icon }}</v-icon>
            <div class="overline">{{ card.text }}</div>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Dashboard',

  computed: {
    ...mapGetters('dashboard', ['getCountCantores','getCountConjuntos','getCountHinos']),

    cards() {
      return [
        {
          color: 'green',
          icon: 'mdi-account',
          text: 'Cantores',
          value: this.getCountCantores
        },{
          color: 'orange',
          icon: 'mdi-account-group',
          text: 'Conjuntos',
          value: this.getCountConjuntos
        },{
          color: 'red',
          icon: 'mdi-music',
          text: 'Hinos',
          value: this.getCountHinos
        }
      ]
    }
  },

  methods: {
    ...mapActions('dashboard', ['ActionGetCountCantores','ActionGetCountConjuntos','ActionGetCountHinos'])
  },

  mounted() {
    this.ActionGetCountCantores()
    this.ActionGetCountConjuntos()
    this.ActionGetCountHinos()
  }
}
</script>

<style>

</style>
