<template>
  <v-container>
    <div>
      <h1 class="subheading grey--text">Hinos</h1>
    </div>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col cols="12" sm="12" md="3">
            <v-autocomplete
              v-model="form.cantor_id"
              label="Cantor"
              :items="[{ nome: 'Todos', id: null }, ...getCantores]"
              item-text="nome"
              item-value="id"
            />
          </v-col>
          <v-col cols="12" sm="12" md="3">
            <v-autocomplete
              v-model="form.conjunto_id"
              label="Conjunto"
              :items="[{ nome: 'Todos', id: null }, ...getConjuntos]"
              item-text="nome"
              item-value="id"
            />
          </v-col>
          <v-col cols="12" sm="12" md="3">
            <v-checkbox 
              v-model="form.is_playback"
              label="Somente Playback"
            />
          </v-col>
          <v-col cols="12" align="center">
            <v-btn small color="primary" @click="loadHinos()">Buscar</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-card class="mt-2">
      <v-card-text>
        <v-data-table
          :headers="table.header"
          :items="getHinos"
          :search="table.search"
          :loading="loading"
        >
          <template v-slot:top>
            <v-row>
              <v-col cols="12" sm="12" md="3">
                <v-btn fab icon small title="Atualizar" :loading="loading" @click="loadHinos()"><v-icon>mdi-refresh</v-icon></v-btn>
                <v-text-field v-model="table.search" placeholder="Buscar..." />
              </v-col>
            </v-row>
          </template>
          <template v-slot:item.play="{ item }">
            <v-btn title="Play" color="grey" fab icon small @click="play(item)">
              <v-icon>mdi-play-circle</v-icon>
            </v-btn>
          </template>
          <template v-slot:item.is_playback="{ item }">
            <v-icon :color="item.is_playback ? 'green' : 'red'">{{ item.is_playback ? 'mdi-check' : 'mdi-close' }}</v-icon>
          </template>
          <template v-slot:item.ativo="{ item }">
            <v-icon :color="item.ativo ? 'green' : 'red'">{{ item.ativo ? 'mdi-check' : 'mdi-close' }}</v-icon>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn title="Editar" color="orange" fab icon small @click="edit(item)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn title="Excluir" color="red" fab icon small @click="destroy(item.id)">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <DialogAddHino />
    <DialogEditHino ref="DialogEditHino" />
    <MusicPlayer ref="MusicPlayer" />
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Hinos',

  components: {
    DialogAddHino: () => import('@/components/dialogs/DialogAddHino'),
    DialogEditHino: () => import('@/components/dialogs/DialogEditHino'),
    MusicPlayer: () => import('@/components/bottom-sheet/MusicPlayer'),
  },

  data() {
    return {
      loading: false,
      form: {
        cantor_id: null,
        conjunto_id: null,
        is_playback: true
      },

      table: {
        search: '',

        header: [
          {
            text: '',
            value: 'play'
          },{
            text: 'Nome',
            value: 'nome'
          },{
            text: 'Cantor',
            value: 'cantor.nome'
          },{
            text: 'Conjunto',
            value: 'conjunto.nome'
          },{
            text: 'Playback',
            value: 'is_playback'
          },{
            text: 'Ativo',
            value: 'ativo'
          },{
            text: '',
            value: 'actions'
          }
        ]
      }
    }
  },

  computed: {
    ...mapGetters('hinos', ['getHinos']),
    ...mapGetters('cantores', ['getCantores']),
    ...mapGetters('conjuntos', ['getConjuntos'])
  },

  methods: {
    ...mapActions('hinos', ['ActionSetHinos','ActionLoadHinos','ActionDestroyHino']),
    ...mapActions('cantores', ['ActionLoadCantores']),
    ...mapActions('conjuntos', ['ActionLoadConjuntos']),

    async loadHinos() {
      try
      {
        this.loading = true
        this.ActionSetHinos([])
        this.form.is_playback = this.form.is_playback ? true : null
        await this.ActionLoadHinos(this.form)
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    },

    async edit(item) {
      this.$refs.DialogEditHino.setHino({ ...item })
      this.$refs.DialogEditHino.show()
    },

    async destroy(id) {
      let { isConfirmed } = await this.$swal('', 'Excluir hino ?', 'question')
      if(!isConfirmed) return

      try
      {
        this.loading = true
        let response = await this.ActionDestroyHino(id)
        this.$swal('', response.data.message, 'success')
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    },

    play(arquivo) {
      this.$refs.MusicPlayer.setArquivo(arquivo)
      this.$refs.MusicPlayer.show()
    }
  },

  mounted() {
    // this.loadHinos()
    this.ActionLoadCantores()
    this.ActionLoadConjuntos()
  }
}
</script>

<style>

</style>
