<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card :disabled="loading">
      <v-card-title>
        Novo Hino
        <v-spacer />
        <v-btn
          icon
          title="Fechar"
          @click="dialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" @submit.prevent="save()">
          <v-text-field
            v-model="form.nome"
            label="Nome"
            type="text"
            :rules="[rules.required]"
          />
          <v-file-input
            v-model="form.arquivo"
            label="Hino (arquivo)"
            show-size
            :rules="[rules.required]"
          />
          <v-autocomplete
            v-model="form.cantor_id"
            label="Cantor"
            :items="getCantores"
            :item-text="'nome'"
            :item-value="'id'"
            :rules="[rules.required]"
          />
          <v-autocomplete
            v-model="form.conjunto_id"
            label="Conjunto"
            :items="getConjuntos"
            :item-text="'nome'"
            :item-value="'id'"
            :rules="[rules.required]"
          />
          <v-checkbox
            v-model="form.is_playback"
            label="Playback?"
          />
          <div class="text-center">
            <v-btn
              color="teal"
              type="submit"
              :loading="loading"
              dark
            >
              Salvar
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>

    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="teal"
        bottom
        dark
        fab
        fixed
        right
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </template>
  </v-dialog>
</template>

<script>
import rules from '@/helpers/rules'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'DialogAddHino',

  data() {
    return {
      rules: rules,
      dialog: false,
      loading: false,

      form: {
        nome: '',
        arquivo: null,
        is_playback: false,
        cantor_id: '',
        conjunto_id: ''
      }
    }
  },

  computed: {
    ...mapGetters('cantores', ['getCantores']),
    ...mapGetters('conjuntos', ['getConjuntos'])
  },

  methods: {
    ...mapActions('cantores', ['ActionLoadCantores']),
    ...mapActions('conjuntos', ['ActionLoadConjuntos']),
    ...mapActions('hinos', ['ActionSaveHino']),

    async save() {
      if(!this.$refs.form.validate()) return

      try
      {
        this.loading = true
        let form = new FormData()
        for(let key of Object.keys(this.form)) {
          form.append(key, this.form[key])  
        }

        let response = await this.ActionSaveHino(form)
        this.$refs.form.reset()
        this.$swal('', response.data.message, 'success')
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    }
  },

  mounted() {
    // this.ActionLoadCantores()
    // this.ActionLoadConjuntos()
  }
}
</script>

<style>

</style>