<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card :disabled="loading">
      <v-card-title>
        Novo Conjunto
        <v-spacer />
        <v-btn
          icon
          title="Fechar"
          @click="dialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" @submit.prevent="save()">
          <v-text-field
            v-model="form.nome"
            label="Nome"
            type="text"
            :rules="[rules.required]"
          />
          <div class="text-center">
            <v-btn
              color="teal"
              type="submit"
              :loading="loading"
              dark
            >
              Salvar
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>

    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="teal"
        bottom
        dark
        fab
        fixed
        right
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </template>
  </v-dialog>
</template>

<script>
import rules from '@/helpers/rules'
import { mapActions } from 'vuex'

export default {
  name: 'DialogAddConjunto',

  data() {
    return {
      rules: rules,
      dialog: false,
      loading: false,

      form: {
        nome: ''
      }
    }
  },

  methods: {
    ...mapActions('conjuntos', ['ActionSaveConjunto']),

    async save() {
      if(!this.$refs.form.validate()) return

      try
      {
        this.loading = true
        let response = await this.ActionSaveConjunto(this.form)
        this.$refs.form.reset()
        this.$swal('', response.data.message, 'success')
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    }
  }
}
</script>

<style>

</style>