<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card :disabled="loading">
      <v-card-title>
        Editar Conjunto
        <v-spacer />
        <v-btn
          icon
          title="Fechar"
          @click="dialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" @submit.prevent="save()">
          <v-text-field
            v-model="currentConjunto.nome"
            label="Nome"
            type="text"
            :rules="[rules.required]"
          />
          <v-checkbox
            v-model="currentConjunto.ativo"
            label="Ativo"
          />
          <div class="text-center">
            <v-btn
              color="orange"
              type="submit"
              :loading="loading"
              dark
            >
              Alterar
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import rules from '@/helpers/rules'
import { mapActions } from 'vuex'

export default {
  name: 'DialogEditCantor',

  data() {
    return {
      rules: rules,
      dialog: false,
      loading: false,
      currentConjunto: new Object()
    }
  },

  methods: {
    ...mapActions('conjuntos', ['ActionUpdateConjunto']),

    setConjunto(params) {
      this.currentConjunto = params
    },

    show(value = true) {
      this.dialog = value
    },

    async save() {
      try
      {
        this.loading = true
        let response = await this.ActionUpdateConjunto(this.currentConjunto)
        this.$swal('', response.data.message, 'success')
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    }
  }
}
</script>

<style>

</style>
