<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card :disabled="loading">
      <v-card-title>
        Editar Hino
        <v-spacer />
        <v-btn
          icon
          title="Fechar"
          @click="dialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" @submit.prevent="save()">
          <v-text-field
            v-model="currentHino.nome"
            label="Nome"
            type="text"
            :rules="[rules.required]"
          />
          <v-file-input
            v-model="currentHino.arquivo"
            label="Hino (arquivo)"
            show-size
          />
          <v-autocomplete
            v-model="currentHino.cantor_id"
            label="Cantor"
            :items="getCantores"
            :item-text="'nome'"
            :item-value="'id'"
            :rules="[rules.required]"
          />
          <v-autocomplete
            v-model="currentHino.conjunto_id"
            label="Conjunto"
            :items="getConjuntos"
            :item-text="'nome'"
            :item-value="'id'"
            :rules="[rules.required]"
          />
          <v-checkbox
            v-model="currentHino.is_playback"
            label="Playback?"
          />
          <v-checkbox
            v-model="currentHino.ativo"
            label="Ativo"
          />
          <div class="text-center">
            <v-btn
              color="orange"
              type="submit"
              :loading="loading"
              dark
            >
              Alterar
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import rules from '@/helpers/rules'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'DialogEditCantor',

  data() {
    return {
      rules: rules,
      dialog: false,
      loading: false,
      currentHino: new Object()
    }
  },

  computed: {
    ...mapGetters('cantores', ['getCantores']),
    ...mapGetters('conjuntos', ['getConjuntos'])
  },

  methods: {
    ...mapActions('hinos', ['ActionUpdateHino']),
    ...mapActions('cantores', ['ActionLoadCantores']),
    ...mapActions('conjuntos', ['ActionLoadConjuntos']),

    setHino(params) {
      params.arquivo = null
      this.currentHino = params
    },

    show(value = true) {
      this.dialog = value
    },

    async save() {
      try
      {
        this.loading = true
        let form = new FormData()
        form.append('id', this.currentHino.id)
        form.append('nome', this.currentHino.nome)
        form.append('cantor_id', this.currentHino.cantor_id)
        form.append('conjunto_id', this.currentHino.conjunto_id)
        form.append('is_playback', this.currentHino.is_playback)
        form.append('ativo', this.currentHino.ativo)
        if(this.currentHino.arquivo)
          form.append('arquivo', this.currentHino.arquivo)

        let response = await this.ActionUpdateHino(form)
        this.$swal('', response.data.message, 'success')
      }
      catch(error)
      {
        this.$swal('', error.response.data.message, 'error')
        console.error(error.response.data.message)
      }
      finally
      {
        this.loading = false
      }
    }
  },

  mounted() {
    // this.ActionLoadCantores()
    // this.ActionLoadConjuntos()
  }
}
</script>

<style>

</style>
