<template>
  <v-app id="app">
    <CoreAppBar />
    <CoreDrawer />
    <v-main class="main-container">
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  components: {
    CoreAppBar: () => import('@/components/core/AppBar'),
    CoreDrawer: () => import('@/components/core/Drawer')
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/app.scss';
</style>

<style lang="scss" scoped>
.main-container {
  background-color: var(--grey-lighten-1);
}
</style>
