<template>
  <v-bottom-sheet inset v-model="dialog" persistent>
    <v-card v-if="arquivo" tile>
      <v-progress-linear
        :value="currentPercent"
        class="my-0"
        height="10"
      />

      <v-list>
        <v-list-item>
          <v-spacer></v-spacer>
          <v-list-item-icon>
            <v-btn small icon @click="close()">
              <v-icon color="red">mdi-close</v-icon>
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ arquivo.nome }} {{ arquivo.is_playback ? ' - PLAYBACK' : '' }}</v-list-item-title>
            <v-list-item-subtitle>{{ arquivo.cantor.nome }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-spacer></v-spacer>

          <v-list-item-icon>
            <v-btn icon @click="changeCurrentTime(-10)">
              <v-icon>mdi-rewind</v-icon>
            </v-btn>
          </v-list-item-icon>

          <v-list-item-icon v-if="!isPlayed" :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
            <v-btn icon @click="play()">
              <v-icon>mdi-play</v-icon>
            </v-btn>
          </v-list-item-icon>

          <v-list-item-icon v-else :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
            <v-btn icon @click="pause()">
              <v-icon>mdi-pause</v-icon>
            </v-btn>
          </v-list-item-icon>

          <v-list-item-icon
            class="ml-0"
            :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }"
          >
            <v-btn icon @click="changeCurrentTime(10)">
              <v-icon>mdi-fast-forward</v-icon>
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-card>
  </v-bottom-sheet>
</template>

<script>
export default {
  name: 'MusicPlayer',

  data() {
    return {
      dialog: false,
      arquivo: null,
      player: new Audio(),
      isPlayed: false,
      currentPercent: 0
    }
  },

  methods: {
    setArquivo(arquivo) {
      this.arquivo = arquivo
      this.player.src = arquivo.arquivo_path
      this.isPlayed = false
      this.currentPercent = 0
    },

    show(value = true) {
      this.dialog = value
    },

    play() {
      this.player.volume = 1
      this.player.play()
      this.isPlayed = true
    },

    pause() {
      this.player.pause()
      this.isPlayed = false
    },

    changeCurrentTime(value) {
      this.player.currentTime += value
    },

    close() {
      this.pause()
      this.player.src = ''
      this.dialog = false
    },

    onCurrentTimeUpdate() {
      this.currentPercent = (this.player.currentTime / this.player.duration) * 100
    },

    init() {
      this.player.ontimeupdate = () => {
        this.onCurrentTimeUpdate()
      }
    }
  },

  mounted() {
    this.init()
  }
}
</script>

<style>

</style>
